body {
	background-color: grey;
}

h1 {
	color: red;
}

.mapOverview{
	display: flex;
}

.read-only{
	pointer-events: none; 
	border: none; 
}

.read-only::placeholder{
	color: black;
	opacity: 1;
}

.hidden {
	display: none;
}